#NFTShowcase {
  padding: 100px 0px;
}
#NFTShowcase h4 {
  margin-top: 75px;
}
#NFTShowcase .column111 {
  gap: 15px;
}
#NFTShowcase .column111 img {
  margin: 15px;
  width: 80%;
  border-radius: 20px;
}

@media only screen and (max-width: 800px) {
  #NFTShowcase .column111 img {
    width: 100%;
    margin: 0px;
  }
  #NFTShowcase h4 {
    text-align: center;
  }
}
